body{
	/*background: url('../images/naitumei.jpg');*/
	/*background-size:cover*/
}

@font-face {
	font-family:'f';
	src: url('../fonts/fontawesome-webfont.ttf');
}
.rocket{
	font-family: f;
	font-size: 50px;
}

.rocket::before{
	content:'\f135'
}
